.footer {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    background: #ebf0ff;
    padding: 5vh 3vw; 
    margin-top: 1rem;

    font-family: 'Montserrat', 'serif';
}

.site-review {
    display: flex;
    justify-content: space-between;
}

.footer-links, .program-links, .about-links {
    display: flex;
    flex-direction: column;
}

.footer-links a, .program-links a, .about-links a {
    all: unset;
    font-family: 'Montserrat', 'serif';
    font-size: clamp(0.375rem,0.65vw,1.25rem);    
    font-weight: 200;
    margin: 0.375rem;

    cursor: pointer;
}

.site-review h1 {
    font-size: clamp(0.5rem,0.65vw,1.25rem);
}

.footer-icon {
    font-size: clamp(10px,2vw,20px);
}

.thank-you {
    font-size: clamp(0.25rem,1vw,2rem);
}

.icons {
    display: flex;
    align-items: start;
}

.footer-divider {
    margin: 2rem 0 1rem 0;
}

.credits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credits h1 {
    font-weight: 700;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.5rem,0.65vw,1.25rem);
    font-weight: 200;
}

.icons a {
    padding: 0 1rem 0 1rem;
}