$light-green: #D1F1D0;
$light-blue: #CFE1FC;
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: clamp(5rem,18vh,15rem);
}

.wave .shape-fill {
    fill: #FFFFFF;
}

.overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh; 
    padding: 20vh 0;
    position: relative;
    background-color: #D1F1D0;
}

.plane {
    position: absolute;
    width: 20%;
    top:20%;
    left: 0%;
    transform: translate(0, -50%);
}

.overview-icon {
    font-size: 4vw;
}

.overview h1{
    font-family: 'Prata', serif;
    font-size: clamp(1rem,3vw,2.125rem);
    margin: 0.25rem;
}

.overview p {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.5rem, 1.5vw , 1.25rem);
    font-weight: 100;
}

@media screen and (max-width: 990px){
    .overview {
        margin-top: 5vh;
        padding: 4vh;
        h1 {
            padding: 2vh 0;
        }
    }
    .wave svg {
        height: 5rem;
    }
}

.three-column {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    column-gap: 5vw;
    height: auto;
    margin: 4vh;
}

.three-column div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-style: solid;
    background-color: #eaeef3;
    border-color: #b8c8e1;
    border-width: clamp(0.375rem,1vw,0.625rem);
    border-radius: 5vw;

    padding: 10%;

    aspect-ratio: 1 / 1; /*hmm*/

    margin-bottom: 5vh;
 }

 .three-column div:hover {
    animation: float 1.5s ease-in-out infinite;
    border-color: #9dd29b;
    background-color: #cadef5;
    transition: all 1s ease;
 }

.three-column div h1 {
    font-size: clamp(0.5rem, 2.5vw , 2rem);
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #9dd29b;
    text-transform: uppercase;
    padding: 1px;
}

.three-column div p {
    font-family: 'Prata', serif;
    font-size: clamp(0.125rem, 1.4vw , 1rem);
    font-weight: 100;
    text-align: center;
    margin: 0.25rem;
}


@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }


  @keyframes border-change {
    0% {
      border-color: #a6afdc;
    }
    50% {
        border-color: #a7aed2;
    }
    100% {
        border-color: #6775B9;
    }
  }
  
.wave-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 10vh;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.wave-bottom .shape-fill {
    fill: #ebf0ff;
}